
/*----------------------------------------GENERAL----------------------------------------*/

html {
	background: #eef0f2;
}

body {
	align-items: center;
	height: 100vh;
  	padding: 0;
}

/*buttons to navigate pages*/

.next {
	color: #353b3c;
	text-decoration: none;
	opacity: 0.3;
}

.next:hover,
.next:focus, .next:active {
	color: #353b3c;
	opacity: 0.6;
	text-decoration: none;
	cursor: pointer;
}

.navigate{
	color: black;
	opacity: 0.0;
	font-size: 360px;
	line-height: 100px;	
	position: absolute;
	bottom: 0px;
	top: 210px;

	text-decoration: none;
	z-index: 10;
}

.left {
	left: 20px; 
}

.right {
	right: 20px; 
}

.navigate:hover {
	opacity: 0.1;
}

.title {
	position: relative; 
	text-align: center; 
	top: 40px; 
	left: 0px;
	z-index: 10;
	font-family: "Optima", sans-serif;
	font-variant: small-caps;
	color: #353b3c;
	font-size: 35px;
	font-weight: bold;
}

h3.every_page  {
	font-family: Georgia, serif;
	color: #c6c7c4;
	font-size: 18px;
	margin-left: 50px;
	margin-top: 7px;
	margin-bottom: 0px;
	z-index: 20;
	position: absolute;
} 

.every_page a {
	font-weight: bold;
	color: #a2999e;
	text-decoration: none;
}

/*------- feedback -----*/

.feedback a {
	border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;

	display: inline-block;
	text-decoration: none;

  	font-family: Georgia;
  	font-style: italic;
  	text-align: center;
  	text-align-last: center;
  	width: 110px;
  	height: 25px;
  	background-color: #a2999e;
  	color: white;
  	border: 0px;
  	padding-top: 4px;

  	margin-left: 1100px;
	margin-top: -25px;
	margin-bottom: 0px;
	z-index: 20;
	position: absolute;

}

.feedback a:hover, .feedback a:focus{
    outline: none;
    background-color: #eef0f2;
    opacity: 0.6;
    color: #a2999e;
}


/*----------------------------------------INDEX.HTML----------------------------------------*/

#intro {
	background: white;
	border-radius: 25px;
	border: 4px solid #eef0f2;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin-left: 200px;
	margin-right: 200px;
	margin-top: 20px;
	margin-bottom: 20px;

	color: #353b3c;
	font-size: 18;
	font-family: "Optima";
	font-weight: 300;
	text-align: center;
}

.close {
	float: right;
	font-size: 40px;
	font-weight: bold;
	margin-right: 20px;
	margin-top: 10px;
}

.questions {
	margin-top: 125px;
	margin-bottom: 0px;
	text-align: left;
}

.questions h2 {
	margin-left: 150px;
	display: inline-block;
}

.questions select {
	border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;

	position: relative;
	margin-left: 10px;
	display: inline-block;

  	font-family: Georgia;
  	text-align: center;
  	text-align-last: center;
  	width: 160px;
  	height: 30px;
  	background-color: #a2999e;
  	color: white;
  	border: 0px;

/*  	font-family: Georgia;
  	text-align: center;
  	text-align-last: center;
  	width: 140px;
  	height: 30px;
  	background-color: #eef0f2;
  	color: #a2999e;
  	outline: none;*/
  	/*-webkit-appearance: none;*/
}

select:hover, select:focus{
    outline: none;
    background-color: #eef0f2;
    opacity: 0.6;
    color: #a2999e;
}

.smileys {
	position: relative;
	text-align: center;
}

.smileys img {
	width: 50px;
	padding: 5px;
	opacity: 0.6;
} 

.smileys img:hover, .smileys .selected {
	opacity: 1.0;
}

.continue {
	font-family: "Optima", sans-serif;
	font-variant: small-caps;
	font-size: 35px;
	font-weight: bold;
	position: relative;
	text-align: center;
	left: 0;
	right: 0;
	top: 80px;
	z-index: 10;
}

/*----------------------------------------TEMPORARY MODAL----------------------------------------*/

/* The Modal (background) */
.modal-temp {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #eef0f2; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content-temp {
  position: fixed;
  left: 25%;
  top: 20%;
  background-color: #eef0f2;
  opacity: 0.9;
  width: 50%;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-body-temp {
	padding: 0px 0px;
	padding-bottom: 20px;
}

.p-temp {
	margin-left: 50px;
	font-size: 16px;
	font-style: italic;
}

/* Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0.5} 
  to {bottom: 0; opacity: 0.9}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0.5}
  to {bottom: 0; opacity: 0.9}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0.5} 
  to {opacity: 0.9}
}

@keyframes fadeIn {
  from {opacity: 0.5} 
  to {opacity: 0.9}
}

/*----------------------------------------INTRO.HTML----------------------------------------*/

.entrance {
	position: absolute;
	text-align: center;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.italics {
	font-style: italic !important;
}

.turquoise {
	fill: #006d77 !important;
}

/*----------------------------------------CHILDHOOD.HTML----------------------------------------*/

html.risks {
	background: radial-gradient(transparent 60%, black), #c6c7c4;
}

span:focus, span:hover, span:active { 
	color: #846a6a; 
	cursor: pointer;
}

.skills {
  width: 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column3 {
  float: left;
  width: 33.33%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column5 {
  float: left;
  width: 20%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.human {
	position: relative;
	height: 480px; 
    width: auto; 
    max-width: 620px; 
    max-height: 600px;
	margin-left: auto;
  	margin-right: auto;
}

/*----------------------------------------ADOLESCENCE.HTML----------------------------------------*/

.adolescence p {
	color: #a2999e;
	font-family: "Apple Chancery", cursive;
	font-size: 15px;
	position: relative;
	text-align: center;
}

#adolescence {
	position: absolute;
}

#quote1 {
	top: 300px;
	margin-bottom: 0px;
}

#quote2 {
	top: 80px;
}

.blank {
	opacity: 0.0;
}

h4 {
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
}

/*----------------------------------------UNCERTAINTY MODAL----------------------------------------*/

.uncertaintyButton {
	position: fixed;
  	bottom: 0;
  	background-color: #eef0f2;
  	width: 100%;
  	height: 6%;
  	left: 0;
  	opacity: 0.5;
}

.uncertaintySentence {
	font-family: "Optima", sans-serif;
	font-variant: small-caps;
	font-size: 20px;
	color: black;
	margin-top: 0px;
	opacity: 0.8 !important;
	padding-left: 100px;
	top: 0px;
	display: inline-block;
}

#myBtn {
	cursor: pointer;
	padding-left: 315px;
	display: inline-block;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #eef0f2; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.secondModal {
	display: none; /* Hidden by default */
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #eef0f2;
  opacity: 0.9;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal-body {
	padding: 0px 100px;
	padding-bottom: 20px;
}

.modal-body h3 {
	font-family: "Optima", sans-serif;
	font-variant: small-caps;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #a2999e;
}

.modal-body p {
	font-family: Georgia, serif;
	color: #4e4e4eff;
	font-size: 14px;
	text-align: left;
}

.modal-body p a {
	color: #006d77;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

.uncertainty-quote {
	margin-left: 50px;
	font-size: 12px;
	font-style: italic;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0.5} 
  to {bottom: 0; opacity: 0.9}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0.5}
  to {bottom: 0; opacity: 0.9}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0.5} 
  to {opacity: 0.9}
}

@keyframes fadeIn {
  from {opacity: 0.5} 
  to {opacity: 0.9}
}

/*----------------------------------------RISKS.HTML----------------------------------------*/

#bubble_chart {
	margin-left: 150px;
}

.node {
	pointer-events: all;
}

.intro_note {
	position: absolute;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	top: 150px;
	margin-right: 150px;
	left: 800px;
	z-index: 10;
	color: white;
}

#risk, #xrisk, #hrisk, #prob {
	position: absolute;
	font-family: Georgia;
	font-weight: bold;
	margin-right: 150px;
	left: 800px;
}

#risk {
	left: 840px;
	top: 200px;
	font-size: 30px;
	color: #006d77;
}

#hrisk {
	top: 275px;
	font-size: 15px;
}

#xrisk {
	top: 325px;
	font-size: 15px;
	color: white;
}

#prob {
	top: 375px;
	font-size: 10px;
	color: #006d77;
	font-style: italic;
}



#buttons {
	position: absolute;
	margin-top: 450px;
	left: 820px;
}

select {
	position: relative;
  	font-family: Georgia;
  	text-align: center;
  	text-align-last: center;
  	width: 165px;
  	height: 30px;
  	background-color: #a2999e;
  	color: white;
  	border: 0px;
  	opacity: 0.5;
  	/*-webkit-appearance: none;*/
}

/*----------------------------------------PREVENTION.HTML----------------------------------------*/

.x-risks {
	position: absolute;
	left: 180px;
	top: 470px;
}

.x-risks span {
	margin: 7px;
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.preventive_measures {
	position: absolute;
	font-family: Georgia;
	font-weight: bold;
	margin-right: 50px;
	list-style: none;
	text-align: left;
	padding-left: 0;
	left: 760px;
	top: 160px;
	z-index: 10;
}

.preventive_measures li {
	font-family: Georgia;
	font-weight: bold;
	font-size: 14px;
	color: black;
	padding-top: 20px;
}

.preventive_measures li select {

	display: inline-block  !important;

  	font-family: Georgia !important;
  	font-weight: bold !important;
  	text-align: center;
  	text-align-last: center;
  	width: 150px;
  	height: 20px;
  	background-color: transparent !important;
  	color: black !important;
  	border: 0px;
  	border-bottom: 3px solid black !important;
}

.preventive_measures select:hover, select:focus{
    outline: none;
    background-color: transparent !important;
}

.resources {
	padding-right: 0;
	text-align: center;
	margin-left: -30px;
	margin-top: 40px;
}

.preventive_measures a {
	font-family: Georgia;
	font-weight: bold;
	font-size: 16px;
	color: #006d77;
	opacity: 1;
	text-decoration: none;
	

	margin: 5px;
}

#risk_pr {
	position: absolute;
	font-family: Georgia;
	font-weight: bold;
	margin-right: 120px;
	left: 840px;
	top: 100px;
	font-size: 30px;
	color: #006d77;
}

#xrisk_pr {
	position: absolute;
	font-family: Georgia;
	font-weight: bold;
	margin-right: 120px;
	left: 800px;
	top: 150px;
	font-size: 13px;
	color: white;
}


/*----------------------------------------ROOMTOGROW.HTML----------------------------------------*/

/*.grow p {
	font-family: Georgia, sans-serif;
	color: #2a3d45;
	font-size: 12px;
	text-align: center;
	justify-content: center;
	position: absolute;
}*/

/*----------------------------------------ACKNOWLEDGEMENTS.HTML----------------------------------------*/

#sources {
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 50px;
	margin-top: 10px;
}

#sources h2{
	font-family: "Optima", sans-serif;
	font-variant: small-caps;
	color: #c6c7c4;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	margin: 0px;
}

#sources .source{
	font-family: Georgia, serif;
	color: #4e4e4eff;
	font-size: 12px;
	text-align: left;
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

#sources .source li{
	margin: 2px;
}

#sources .source a {
	color: #006d77;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 0px;
}

#compiledBy {
	position: relative;
	left: -6px;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 12px;
}

.acknowledgments {
	text-align: center;
	color: #a2999e;
	font-family: Georgia, serif;
	margin-top: 0px;
}

.regular a {
	color: #846a6a;
	text-decoration: none;
	font-weight: bold;
}

.regular a:focus, #regular a:hover, #regular a:active { 
	color: #846a6a; 
}

.regular {
	margin-top: 20px;
	margin-left: 180px;
	margin-right: 180px;
	font-size: 14px;
}

#thankYOU {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	margin-left: 100px;
	margin-right: 100px;
	color: #353b3c;
}

#signature {
	height: 40px;
	width: auto;
	position: absolute;
	margin-left: 950px;
	margin-top: -45px;
	filter: grayscale(100%);

}







